<% if @requests.any? %>
  <% @requests.each_with_index do |venue, index| %>
    <%= hidden_field_tag "venue_id",
      venue.first.id, id: "venue_id-#{Settings.pending}-#{index}" %>
    <%= hidden_field_tag "times",
      @requests.length, id: "times-#{Settings.pending}" %>
    <%= hidden_field_tag "times_child", venue.second.length,
      id: "times-child-#{Settings.pending}-#{venue.first.id}" %>
    <%= render "content", venue: venue, index: index, type: Settings.pending %>
  <% end %>
<% else %>
  <p><%= t "errors.blank", type: Settings.request_history %></p>
<% end %>
