<form id="clickable-wizard" class="form-horizontal form-bordered">
  <div id="clickable-first" class="step">
    <div class="form-group">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified clickable-steps">
          <li>
            <a href="javascript:void(0)" data-gotostep="clickable-first">
              <strong><%= t ".clickable_venue" %></strong>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-gotostep="clickable-second">
              <strong><%= t ".clickable_details" %></strong>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-gotostep="clickable-third">
              <strong><%= t ".clickable_space_pricing" %></strong>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-gotostep="clickable-fourth">
              <strong><%= t ".clickable_admins" %></strong>
            </a>
          </li>
          <li class="active">
            <a href="javascript:void(0)" data-gotostep="clickable-fifth">
              <strong><%= t ".clickable_amenities" %></strong>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-gotostep="clickable-sixth">
              <strong><%= t ".clickable_marketplaces" %></strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
