<div class="col-md-12 space-form">
  <%= simple_form_for [@venue, @space] do |f| %>
    <legend><span class="number">1</span><%= t "space.info" %></legend>
    <%= f.input :name, input_html: {class: "field-style"} %>
    <%= f.simple_fields_for :images do |form_image| %>
      <%= form_image.input :picture, input_html: {class: "margin-bot-15"} %>
    <% end %>
    <%= f.input :space_type, as: :select, collection: Space.space_types.keys,
      input_html: {class: "field-style"} %>
      <div class="col-md-6 space">
        <%= f.input :area, input_html: {class: "field-style"} %>
      </div>
      <div class="col-md-6 space">
        <%= f.input :day_reject,
          input_html: {value: day_reject, class: "field-style"} %>
      </div>
      <div class="col-md-6 space">
        <%= f.input :capicity,
          input_html: {class: "field-style"} %>
      </div>
      <div class="col-md-6 space">
        <%= f.input :quantity,
          input_html: {class: "field-style"} %>
      </div>
    <%= f.input :description, input_html: {class: "field-style"} %>
    <legend><span class="number">2</span><%= t "space.price" %></legend>
      <%= f.simple_fields_for :prices do |price| %>
        <div class="col-md-6 space">
          <%= price.input :price, label: price.object.name,
            input_html: {class: "field-style field-split booking-#{price.object.id}"} %>
        </div>
        <%= price.input :booking_type_id, as: :hidden %>
      <% end %>
    <%= f.button :submit, class: "btn-submit" %>
  <% end %>
</div>
