<div class="col-md-12 space-form">
    <%= simple_form_for [@venue, @space] do |f| %>
      <legend><span class="number">1</span><%= t "space.info" %></legend>
      <%= f.simple_fields_for :images do |form_image| %>
        <%= form_image.input :picture, input_html: {class: "margin-bot-15"} %>
      <% end %>
      <%= f.input :space_type, as: :select, collection: Space.space_types.keys,
        input_html: {class: "form-control"} %>
      <%= f.input :area, input_html: {class: "form-control margin-bot-15"} %>
      <%= f.input :capicity, input_html: {class: "form-control margin-bot-15"} %>
      <%= f.input :quantity, input_html: {class: "form-control margin-bot-15"} %>
      <%= f.input :description, input_html: {class: "form-control margin-bot-15"} %>
      <legend><span class="number">2</span><%= t "space.price" %></legend>
        <%= f.simple_fields_for :prices do |price| %>
          <%= price.input :price,
            input_html: {class: "form-control margin-bot-15 booking-#{price.object.id}"} %>
          <%= price.input :booking_type_id, as: :hidden %>
        <% end %>
      <%= f.button :submit, class: "btn-submit" %>
    <% end %>
</div>
