<div class="row">
  <div class="col-md-12">
    <div class="block full">
      <%= @venue.name %>
    </div>
    <div class="block full">
      <div class="block-title">
        <%= render "shared/form_outline", active_id: "space" %>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="tab-content">
            <div class="widget col-lg-3">
              <div class="widget-extra-full space-items-info">
                <div class="col-xs-9 text-right gutter">
                  <%= link_to new_venue_space_path(@venue), class: "btn btn-info" do %>
                    <i class="fa fa-plus-square"></i>
                    <%= t "add_space" %>
                  <% end %>
                </div>
              </div>
            </div>
            <% @spaces.each do |space| %>
              <div class="col-sm-12 col-lg-3">
                <div class="widget space-items">
                  <div class="widget-extra-full venue-items">
                    <div class="widget-options">
                      <%= link_to "#", title: t("edit") do %>
                        <i class="fa fa-pencil-square-o"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="widget-extra themed-background text-center venue-info">
                    <h3 class="widget-content-light">
                      <strong><%= space.space_type %></strong><br>
                      <small><%= t "space.capicity" %><%= space.capicity %></small>
                    </h3>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
