<div class="row">
  <div class="col-md-9">
    <div class="col-md-12">
      <p class="lead"><%= t "new_venue" %></p>
    </div>
    <div class="col-md-12">
      <%= simple_form_for [:venue, @space] do |f| %>
        <%= f.input :space_type, as: :select, collection: Space.space_types.keys %>
        <%= f.input :size, input_html: {class: "form-control"} %>
        <%= f.input :capicity, input_html: {class: "form-control"} %>
        <%= f.input :quantity, input_html: {class: "form-control"} %>
        <%= f.input :description, input_html: {class: "form-control"} %>
        <%= f.input :venue_id, as: :hidden, input_html: {value: @venue.id,
          class: "form-control"} %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="block full">
      <div class="block-title">
        <h4><strong><%= t "markers" %></strong><%= t "map" %></h4>
      </div>
      <div class="map-info">
        <div id="gmap_canvas" class="map-show"></div>
      </div>
    </div>
  </div>
</div>
