<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": true %>
    <%= render "layouts/shared/shim" %>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="page-container">
        <div id="main-container">
          <%= render "layouts/admin/header" %>
          <div id="page-content">
            <%= render "layouts/admin/menu"%>
            <%= yield %>
          </div>
          <%= render "layouts/shared/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
