<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-usd"></i><%= t "your_bookings" %>
    </h1>
  </div>
</div>
<div class="block full">
  <div class="block-title">
    <div class="block-options pull-right">
      <a href="javascript:" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Delete invoice"><i class="fa fa-times"></i></a>
    </div>
    <h2><strong>Big C</strong></h2>
  </div>
    <div class="row block-section">
      <div class="col-sm-12">
        <h4>Parkson Da Nang, Hung Vuong, Vinh Trung, Da Nang, Vietnam</h4>
        <address>
          <i class="fa fa-phone"></i> (000) 000-0000<br>
          <i class="fa fa-envelope-o"></i> <a href="javascript:">example@example.com</a>
        </address>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-vcenter bookings-table">
        <tbody>
          <tr>
            <td>
                <h4><%= link_to "Rapture Coffee", "javascript:" %></h4>
                <span class="label label-info">Thu, Oct 20, 2016</span>
                <span class="label label-info"><i class="fa fa-clock-o"></i> 3 weeks</span>
                <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </td>
            <td class="text-center">
                <%= image_tag "spaces/space1.jpg", style: "width: 200px; height: 100px" %>
            </td>
            <td class="text-center"><span class="label label-warning">Hot desk</span></td>
            <td class="text-center"><strong>x <span class="badge">1</strong></td>
            <td class="text-right"><span class="label label-success">$ 1.000</span></td>
          </tr>
          <tr>
            <td>
              <h4><%= link_to "Private Office", "javascript:" %></h4>
              <span class="label label-info">Thu, Oct 20, 2016</span>
              <span class="label label-info"><i class="fa fa-clock-o"></i> 1 month</span>
              <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </td>
            <td class="text-center">
              <%= image_tag "spaces/space1.jpg", style: "width: 200px; height: 100px" %>
            </td>
            <td class="text-center"><span class="label label-warning">Private Office</span></td>
            <td class="text-center"><strong>x <span class="badge">2</strong></td>
            <td class="text-right"><span class="label label-success">$ 1.000</span></td>
          </tr>
          <tr class="active">
            <td colspan="4" class="text-right"><span class="h3">
              <strong><%= t ".total_due" %></strong></span></td>
            <td class="text-right"><span class="h3"><strong>$ 28.750</strong></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix">
      <div class="btn-group pull-right">
        <a href="javascript:" class="btn btn-danger"><i class="fa fa-angle-right"></i><%= t "request" %></a>
      </div>
    </div>
</div>
