<h1 class="permissions"><i class="fa fa-info" aria-hidden="true">&nbsp;<%= t ".permissions"%></i></h1>
<p class="user_role owner manager client_service reception">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions1" %></span></p>
<p class="user_role owner manager client_service reception">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions2" %></span></p>
<p class="user_role owner manager client_service reception">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions3" %></span></p>
<p class="user_role owner manager client_service reception">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions4" %></span></p>
<p class="user_role owner manager client_service reception">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions5" %></span></p>
<p class="user_role owner manager client_service">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions6" %></span></p>
<p class="user_role owner manager">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions7" %></span></p>
<p class="user_role owner manager">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions8" %></span></p>
<p class="user_role owner manager">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions9" %></span></p>
<p class="user_role owner manager">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions10" %></span></p>
<p class="user_role owner manager">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions11" %></span></p>
<p class="user_role owner manager">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions12" %></span></p>
<p class="user_role owner manager ">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions13" %></span></p>
<p class="user_role owner">
  <span class="fa fa-check" aria-hidden="true">&nbsp;<%= t ".permissions14" %></span></p>
