<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCiNNIpP8sLtpWlcwLuv_ZqA1NQnbtm_Dk&libraries=places'></script>
<script src='//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'>
</script>
<%= javascript_include_tag "search/search.js" %>
<div class="row">
  <div class="col-md-6" style="border:1">
    <div class="block-title">
      <h2><strong><%= t "maps" %></strong></h2>
    </div>
    <div id="map-container">
      <div id="map"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block-title">
      <h2><strong><%= t "find_space" %></strong></h2>
    </div>
    <div class="block-full">
      <div class="widget padding-bot-10">
        <%= form_tag search_spaces_path, method: :get, remote: true,
          id: "search-space-form" do %>
          <%= text_field_tag :search, params[:search],
            placeholder: t("search.place_holder"), class: "controls",
            id: "pac-input" %>
        <% end %>
      </div>
      <div class = "widget">
        <div>
          <div class="btn-group" id = "button-filter1">
            <label id = "label-space"><%= t ".space_type"%><span class="box"></span></label>
            <%= link_to "#", class: "btn btn-md green", id: "desk" do %>
              <%= t ".desk" %><span class="box"></span>
            <% end %>
            <%= link_to "#", class: "btn btn-md green", id: "office" do %>
              <%= t ".private_office" %><span class="box"></span>
            <% end %>
            <%= link_to "#", class: "btn btn-md green", id: "meeting" do %>
              <%= t ".meeting_room" %><span class="box"></span>
            <% end %>
          </div>
          <div class="btn-group" id = "button-filter2">
            <label id = "label-space"><%= t "term"%><span class="box"></span></label>
            <%= link_to "#", class: "btn btn-md green", id: "day" do %>
              <%= t "booking_types.DAY" %><span class="box"></span>
            <% end %>
            <%= link_to "#", class: "btn btn-md green", id: "week" do %>
              <%= t "booking_types.WEEK" %><span class="box"></span>
            <% end %>
            <%= link_to "#", class: "btn btn-md green", id: "month" do %>
              <%= t "booking_types.MONTH" %><span class="box"></span>
            <% end %>
          </div>
        </div>
      </div>
      <%= hidden_field_tag "markers-on-map", @hash.to_json %>
      <%= hidden_field_tag "current_lat", Settings.default_latitude %>
      <%= hidden_field_tag "current_lng", Settings.default_latitude %>
      <div class="row" id="search-space-result">
        <%= render "search_result" %>
      </div>
    </div>
  </div>
</div>
