<p><%= "#{t("users.mailer.reset_password.welcome")}  @resource.email" %>!</p>

<p><%= t "users.mailer.reset_password.remind1" %></p>

<p><%= link_to t("users.mailer.reset_password.change_password"),
  edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "users.mailer.reset_password.remind2" %></p>
<p><%= t "users.mailer.reset_password.remind3" %></p>
